/* Imports - fonts */


/* Variáveis CSS */

:root {
    --azul-principal: #043873;
    --branco-fontes: #FFFFFF;
    --azul-claro-detalhes: #4F9CF9;
    --amarelo-detalhes: #FFE492;
}

/* Estilos Globais */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header - Cabeçalho da página */

header {
    background-color: var(--azul-principal);
}

.container_cabecalho { 
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.cabecalho_menu {
    display: flex;
    gap: 3.75rem;
}

.cabecalho_menu_links {
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: transform 0.1s;
}

.cabecalho_link {
    color: var(--branco-fontes);
    text-decoration: none;
    display: flex;
}

.cabecalho_link:hover {
    transform: scale(1.1);
}

.cabecalho_menu_botao {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cabecalho_botao {
    padding: 1rem 2.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    display: flex;
    gap: 0.5rem;
    transition: transform 0.1s;
}

.cabecalho_botao:hover {
    transform: scale(1.1);
}

.login_botao {
    background-color: var(--amarelo-detalhes);
    color: var(--azul-principal);   
}

.try_botao {
    background-color: var(--azul-claro-detalhes);
    color: var(--branco-fontes);
}

/* Main - Section 1 */

.section_header {
    background-color: var(--azul-principal);
}

.container_section_header {
    display: flex;
    align-items: center;
    padding: 8.75rem 0rem;
}

.section_header_background {
    position: absolute;
}

.section_header_background > img {
    position: relative;
    left: -22.875rem;
}

.section_header_contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.75rem;
}

.section_header_texto {
    color: var(--branco-fontes);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section_header_texto > h2 {
    font-size: 4rem;
}

.section_header_texto > p {
    font-size: 1.125rem;
}

.image_section_header {
    height: 34rem;
}

.image_section_header > img {
    width: 100%;
    height: 100%;
}

/* Footer - Rodapé da página */