/* Imports - fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variáveis CSS */

:root {
    --azul-principal: #043873;
    --branco-fontes: #FFFFFF;
    --azul-claro-detalhes: #4F9CF9;
    --amarelo-detalhes: #FFE492;
    --fonte-principal: 'Inter', sans-serif;
}

/* Estilos Globais */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 62.5% de 16px = 10px */
}

body {
    font-family: var(--fonte-principal);
}

/* Header - Cabeçalho da página */

.wrapper {
    width: 90%;
    max-width: 1480px;
    margin: 0 auto;
}

.header {
    background-color: var(--azul-principal);
}

.header > .container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 5.55rem;
}

.links > ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.2rem;
}

.link {
    color: var(--branco-fontes);
    display: flex;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
}

.link::after {
    content: url('data:image/svg+xml,<svg width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 10L15 14L19.5 10" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    padding-left: 1rem;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.button {
    padding: 1.6rem 4rem;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
}

.button[data-type="login"] {
    background-color: var(--amarelo-detalhes);
    color: var(--azul-principal); 
    font-family: var(--fonte-principal);
    font-size: 1.8rem; 
}

.button[data-type="try"] {
    background-color: var(--azul-claro-detalhes);
    color: var(--branco-fontes);
    font-family: var(--fonte-principal);
    font-size: 1.8rem;
}

.button[data-type="try"]::after {
    content: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6H11" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 1L11 6L6 11" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    padding-left: 1rem;
}

/* Main - Section 1 */

.hero_section {
    background-color: var(--azul-principal);
    padding: 14rem 0rem;
}

.hero_section > .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_section > .container > .heading > h1 {
    font-family: var(--fonte-principal);
    color: var(--branco-fontes);
    font-size: 6.4rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
}

.hero_section > .container > .heading > p {
    font-family: var(--fonte-principal);
    color: var(--branco-fontes);
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 6rem;
}

/* Main - Section 2 */

.work_section {
    padding: 14rem 0rem;
}

.work_section > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
}

.content_um {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.content_um > .headline > h2 {
    font-family: var(--fonte-principal);
    font-size: 7.2rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
}

.content_um > .headline > p {
    font-family: var(--fonte-principal);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 6rem;
    letter-spacing: 0.003rem;
}

.content_dois {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.content_dois > .headline > h2 {
    font-family: var(--fonte-principal);
    font-size: 7.2rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
}

.content_dois > .headline > p {
    font-family: var(--fonte-principal);
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 6rem;
    line-height: 3rem;
}

/* Main - Section 3 */

.extension_section {
    background-color: var(--azul-principal);
    padding: 14rem 0rem;
}

.extension_section > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.8rem;
}

.extension_section > .container > .headline > h2 {
    font-family: var(--fonte-principal);
    color: var(--branco-fontes);
    font-weight: bold;
    font-size: 7.2rem;
    margin-bottom: 2.4rem;
}

.extension_section > .container > .headline > p {
    font-family: var(--fonte-principal);
    color: var(--branco-fontes);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 6rem;
}

/* Main - Section 4 */

.needs_section {
    padding: 14rem 0rem;
}

.needs_section > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.8rem;
}

.needs_section > .container > .headline > h2 {
    font-family: var(--fonte-principal);
    font-size: 7.2rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
    letter-spacing: 0.0009rem;
}

.needs_section > .container > .headline > p {
    font-family: var(--fonte-principal);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 6rem;
}

/* Main - Section 5 */

.tables_section {
    padding: 14rem 0rem;
}

.tables_section > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.tables_section > .container > .heading {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tables_section > .container > .heading > h2 {
    font-family: var(--fonte-principal);
    font-size: 7.2rem;
    font-weight: bold;
}

.tables_section > .container > .heading > p {
    font-family: var(--fonte-principal);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

/* Main - Section 5 -> tables */



/* Main - Section 5 -> Tables -> Buttons tables */

.button[data-type="Started-y"] {
    font-family: var(--fonte-principal);
    font-size: 1.6rem;
    font-weight: 700;
    background-color: transparent;
    border: 0.1rem var(--amarelo-detalhes) solid;
}

.button[data-type="Started-b"] {
    font-family: var(--fonte-principal);
    color: var(--branco-fontes);
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--azul-claro-detalhes);
}


/* Footer - Rodapé da página */